// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

$logo-font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$logo-font-size: 30px !default;
$code-color: #657b83;
$deputy-color: #002b36;
$theme-color: #18bc9c;

$post-toc-backgroud: rgba($deputy-color, 0.15) !default;

#mobile-navbar {
    background: rgb(44, 62, 80) !important;
}
#mobile-menu {
    background: rgb(44, 62, 80) !important;
}

.mobile-menu-item {
    color: white !important;
    font-family: $logo-font-family !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 15px !important;
}

#mobile-navbar {
    a {
        color: white !important;
    }
}

#mobile-navbar .mobile-header-logo .logo {
    font-weight: 700 !important;
}

body {
    border-top: none !important;
}

.header {
    background-color: rgb(44, 62, 80);
    padding: 25px 0 !important;
}

.header .logo-wrapper {
    padding-top: 15px;
}
.header .logo-wrapper .logo {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    padding: 19.5px 15px;
}

.site-navbar .menu {
    font-family: $logo-font-family !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.header .site-navbar .menu .menu-item-link {
    font-size: 15px !important;
}

.header a {
    color: white !important;
}

thead {
    color: #93a1a1;
}

.post .post-content code {
    color: #93a1a1 !important;
}

tbody tr:hover {
    background-color: $theme-color !important;
  }

